<!--<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="pass" [(ngModel)]="pass">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)=" logInUser()">Sign In</button>
</form>-->

<body style="color:aquamarine">
  <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="card card1">
          <div class="row justify-content-center my-auto">
            <div class="col-md-8 col-10 my-5">
              <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://i.imgur.com/PSXxjNY.png"> </div>
              <h3 class="mb-5 text-center heading">We are OpenLearn</h3>
              <h6 class="msg-info">Please login to your account</h6>
              <div class="form-group"> <label class="form-control-label text-muted">Email</label> <input type="email" placeholder="email id" class="form-control" name="email" [(ngModel)]="email"> </div>
              <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" placeholder="Password" class="form-control" name="pass" [(ngModel)]="pass"> </div>
              <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color" (click)=" logInUser()">Login to OpenLearn</button> </div>
              <!-- <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot Password?</small></a> </div>-->
               <div class="row justify-content-center my-2"> <small class="text-muted">Login To see Our Courses.</small> </div>
            </div>
          </div>
          <div class="bottom text-center mb-5">
            <!--<p href="#" class="sm-text mx-auto mb-3">Don't have an account?<button class="btn btn-white ml-2">Create new</button></p>-->

          </div>
        </div>
        <div class="card card2">
          <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">We are more than just a company</h3> <small class="text-white">OpenLearn is a trailblazer for the provision of high quality open educational resources at scale and breadth. It is designed to be accessible by all, and to date over 80 million ​visitors from around the World have discovered this treasure trove of learning materials.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
